{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Smart Food/Умный помощник в питании</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link type="text/css" href="{% static '/css/bootstrap.css' %}" rel="stylesheet" />
    <link href="{% static '/css/list-groups.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'images/icon.ico' %}" type="image/x-icon">
    <link type="text/css" href="{% static '/css/style.css' %}" rel="stylesheet" />

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>


    {% block header %}
    {% endblock %}
</head>

<body class="body">

    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <nav class="navbar navbar-expand-md fixed-top bg-white">
            <div class="container-fluid">
                <a href="#" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
                    <img src="{% static 'images/logo.svg' %}" width="40" height="40"/>
                </a>
                <div class="col-md-3 text-end">
                    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                        <li><a href="{% url 'index' %}" class="nav-link px-2 link-dark">Home</a></li>
                        <li><a href="{% url 'faq' %}" class="nav-link px-2 link-dark">FAQs</a></li>
                        <li><a href="{% url 'info' %}" class="nav-link px-2 link-dark">Profile</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    {% block body %}
    {% endblock %}

    <footer>
        <div>test</div>
    </footer>

</body>

</html>