{% load static %}

<link
    rel="stylesheet"
    type="text/css"
    href="{% static '/css/bootstrap.css' %}"
/>

<body>

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'images/logo.jpg' %}" width="40" height="32"/>
        <span class="fs-4">SmartFood</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Главная</a></li>
        <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link active" aria-current="page">FAQs</a></li>
      </ul>
    </header>
  </div>
</body>