{% extends  'base.html' %}
{% load static %}


{% block body %}
<div class="container">
<h1 align="center">О нас</h1>
<p align="center">SmartFood - это первый в России умный онлайн помощник по ведению здорового образа жизни. Данный инструмент поможет вам в решении следующих проблем:
<ul>
    <li>Расчёт дневной нормы ккал в зависимости от ваших целей</li>
    <li>Составление личного плана питания</li>
    <li>Поможет в приготовлении блюд различного уровня подготовки</li>
    <li>Добавит нотку энтузиазма в ваши повседневные будни, путём добавления новых ежедневных блюд</li>
</ul>
</p>
    <h1 align="center">Как пользоваться сайтом</h1>
    <p align="center">
        Наш сайт дает возможность выбрать ингредиенты, имеющиеся у вас вручную либо же с помощью распознавания по фото.
    </p>
    <p align="center">
        Если вы хотите осуществить выбор с помощью распознавания по фото - нажмите на кнопку " Выберите файл", после чего на кнопку " Распознать продукты",
        иначе просто нажмите на кнопку " Выбрать", находящуюся в самом верху и выберите ингредиенты во всплывающем списке.
    </p>
</div>
{% endblock %}