{% extends  'base.html' %}
{% load static %}


{% block body %}
<div class="container">
<h1>О нас</h1>
<p>Food - Это первый в России умный онлайн помощник по ведению здорового образа жизни.Данный инструмент поможет вам в решении следующих проблем:
<ul style=list-style-type:none>
    <li>-Расчёт дневной нормы ккал в зависимости от ваших целей</li>
    <li>-Составление личного плана питания</li>
    <li>-Поможет в приготовлении блюд различного уровня подготовки</li>
    <li>-Добавит нотку энтузиазма в ваши повседневные будни, путём добавления новых ежедневных блюд</li>
    <li>-Составит тренировочную программу для поддержания здорового образа жизни</li>
</ul>
</p>
</div>
{% endblock %}