{% extends  'base.html' %}
{% load static %}

{% block header %}
<script>

    let selected_food_list = [];
    let selected_dishes_list = [];

    // добавляет еду в список текущей еды
    let addToFoodList = function(name, visionname) {
        selected_food_list.push({'name':name,'visionname': visionname});
        console.log(`Выбраны: ${JSON.stringify(selected_food_list)}`);
    }

    // удаляет еду из списка текущей еды
    let deleteFromFoodList = function(name) {
        selected_food_list = selected_food_list.filter(obj => obj.name !== name);
        console.log(`Выбраны: ${JSON.stringify(selected_food_list)}`);
    }

    //-------------------------------------------------------------------------------------------------

    // создание div во всплывающем окне с названием еды и весом
    let createDishItemDiv = function(name) {  
        let dishes_list = document.getElementById("dishes_list");
        let html_template = `
        <div class="container fooditem">
            <label class="list-group-item d-flex gap-3">
                <input class="dishitem_select form-check-input flex-shrink-0" type="checkbox" value="">
                <span class="pt-1 form-checked-content">
                    <strong><div class="fooditem_name">${name}</div></strong>
                </span>
                <input class="fooditem_weight" value="100" maxlength="4" required=true type="number" onkeyup="this.value = this.value.replace(/[^\d]/g, '')">г.
            </label>
        </div>`
        let doc = document.createRange().createContextualFragment(html_template);
        dishes_list.appendChild(doc);
    }

    // очиста списка блюд
    let clearDishList = function() {
        document.getElementById("dishes_list").innerHTML = "";
        selected_dishes_list = [];
    }

    // добавляет блюда в список текущих блюд
    let addToDishList = function(name, weight) {
        selected_dishes_list.push({'name':name,'weight': weight});
        console.log(`Выбраны: ${JSON.stringify(selected_dishes_list)}`);
    }

    // удаляет блюда из списка текущих блюд
    let deleteFromDishList = function(name) {
        selected_dishes_list = selected_dishes_list.filter(obj => obj.name !== name);
        console.log(`Выбраны: ${JSON.stringify(selected_dishes_list)}`);
    }
    
    //-------------------------------------------------------------------------------------------------

    // распознавание еды по фото
    document.addEventListener("DOMContentLoaded",
        function(){
            document.getElementById("handleForm").addEventListener("click", 
                function()
                {
                     jQuery("#handleForm").addClass('disabled');
                     jQuery("#handleForm").html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" id="spinner" ></span> Распознавание...`
                     );

                    // отправка данных на сервер
                    let formData  = new FormData( document.getElementById("form") );

                    for(let i = 0; i < document.getElementById("img").files.length; i++)
                    {
                        formData.append("img[]",document.getElementById("img").files[i]);
                    }

                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'customvision' %}");

                    // получение ответа от сервера
                    xhr.addEventListener("readystatechange", () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let response = JSON.parse(xhr.response);
                            console.log(`Результат распознавания: ${response.rezult}`);

                             jQuery('#handleForm').removeClass('disabled');
                             jQuery('#handleForm').html(
                                `Распознать продукты`
                             );

                            if(response.rezult)
                            {
                                let all_fooditem_selectors = document.querySelectorAll(".fooditem_select");
                                let all_fooditem_selectors_objects = []
                                for (let i = 0; i < all_fooditem_selectors.length; i++) {
                                    let value = all_fooditem_selectors[i].parentNode.querySelector(".fooditem_name").innerHTML;
                                    all_fooditem_selectors_objects.push({"name":value, "obj":all_fooditem_selectors[i]});
                                }

                                for (let i = 0; i < response.rezult.length; ++i)
                                {
                                    let food_input_obj = all_fooditem_selectors_objects.find(obj => obj.name == response.names[i]);
                                    if(food_input_obj){
                                        food_input = food_input_obj.obj;
                                        if(!food_input.checked){
                                            addToFoodList(response.names[i], response.rezult[i])
                                            food_input.checked = true;
                                        }
                                    }
                                }
                            }
                        };
                    });
                    xhr.send(formData);
                }
            );
        }
    );

    // Добавляет/Удаляет еду из списка по клику на нее для выбранной еды
    document.addEventListener("DOMContentLoaded",
        function() {
            let elements = document.querySelectorAll(".fooditem_select");
            for (let i = 0; i < elements.length; i++) {
                elements[i].onchange = function() {
                    let name = this.parentNode.querySelector(".fooditem_name").innerHTML;
                    let visionname = this.parentNode.querySelector(".fooditem_model_name").innerHTML;
                    if(this.checked) {
                        addToFoodList(name, visionname);
                    }
                    else {
                        deleteFromFoodList(name);
                    }
                };
            }
        }
    );


    // Добавляет/Удаляет еду из списка по клику на нее для списка предложенных блюд
    let updateOnClickToDishes = function() {
        let elements = document.querySelectorAll(".dishitem_select");
        for (let i = 0; i < elements.length; i++) {
            elements[i].onchange = function() {
                let name = this.parentNode.querySelector(".fooditem_name").innerHTML;
                let weight = this.parentNode.querySelector(".fooditem_weight").value;
                if(this.checked) {
                    addToDishList(name, weight);
                }
                else {
                    deleteFromDishList(name);
                }
            };
        }
    }


    // Отправка данных для получения списка возможных блюд
    document.addEventListener("DOMContentLoaded",
        function(){
            document.getElementById("btn_confirm_food").addEventListener("click",
                function() {
                    const xhr = new XMLHttpRequest();
                    const url = "{% url 'foodanalize' %}";
                    let s_all_food_list = "";
                    for(let i = 0; i < selected_food_list.length; ++i)
                    {
                        s_all_food_list += JSON.stringify(selected_food_list[i]) + ";";
                    }
                    const params = `csrfmiddlewaretoken={{ csrf_token }}&data=${s_all_food_list}`;
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    // получение ответа от сервера
                    xhr.addEventListener("readystatechange", () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let response = JSON.parse(xhr.response);
                            console.log(`Список предложеной еды ${JSON.stringify(response)}`);
                            clearDishList();
                            for(let i = 0; i < response.length; ++i){
                                createDishItemDiv(response[i].name);
                            }
                            updateOnClickToDishes();
                        };
                    });

                    xhr.send(params);
                }
            );
        }
    );


    // Отправка данных для сохранения блюд в базу данных
    document.addEventListener("DOMContentLoaded",
        function(){
            document.getElementById("btn_confirm_dishes").addEventListener("click",
                function() {
                    const xhr = new XMLHttpRequest();
                    const url = "{% url 'addfood' %}";
                    let s_all_food_list = "";
                    for(let i = 0; i < selected_dishes_list.length; ++i)
                    {
                        console.log(selected_dishes_list[i]);
                        s_all_food_list += JSON.stringify(selected_dishes_list[i]) + ";";
                    }
                    const params = `csrfmiddlewaretoken={{ csrf_token }}&data=${s_all_food_list}`;
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    // получение ответа от сервера
                    xhr.addEventListener("readystatechange", () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            $('#exampleModal').modal('hide');
                            let elements = document.querySelectorAll(".fooditem_select");
                            for (let i = 0; i < elements.length; i++) {
                                document.location.href = "{% url 'info' %}";
                            }
                        };
                    });

                    xhr.send(params);
                }
            );
        }
    );

    function OpenCollapseOnAction() {
        var myCollapse = document.getElementById('collapseExample')
        if (!jQuery(myCollapse).hasClass('show')) {
            var bsCollapse = new bootstrap.Collapse(myCollapse, {
                    show: true
            })
        }
    }

</script>
{% endblock %}

{% block body %}

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="list-check" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </symbol>
    </svg>

    <div class="container" id="select-food">
        <p class="fs-5 fw-bolder text-center">Выберите продукты из списка или сфотографируйте их:</p>
        <p class="fs-5 fw-bolder text-center">
            <button class="btn btn-light" id="select-btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Выбрать
            </button>
        </p>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="d-flex flex-nowrap">
            <div class="d-flex p-2 bd-highlight flex-wrap justify-content-center col py-3 px-lg-5">
                {% for item in foodlist %}
                    <div class="fooditem ml-md-auto">
                        <label class="list-group-item gap-3 align-self-stretch">
                            <input class="fooditem_select form-check-input flex-shrink-0" type="checkbox" value="">
                            <span class="pt-1 form-checked-content">
                                <strong><div class="fooditem_name">{{ item.name }}</div></strong>
                                <div class="fooditem_model_name opacity-0">{{ item.visionname }}</div>
                                <img class="img" src="{{item.img.url}}" alt={{item.name}} width="64" height="64"></a>
                            </span>
                        </label>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container text-center">
        <form action="" method="post" enctype="multipart/form-data" id="form" class="dropzone" id="dropzone">
            {% csrf_token %}
            <div class="form-group">
                <input type="file" name="img" id="img" />
                <div id="handleForm" class="btn btn-secondary" onclick="OpenCollapseOnAction()">
                     Распознать продукты
                </div>
            </div>
        </form>
    </div>

    </div>
    <div class="container text-center">
        <!-- Button trigger modal -->
        <button id="btn_confirm_food" type="button" class="btn btn-light" data-toggle="modal" data-target="#exampleModal">
        ПОДТВЕРДИТЬ
        </button>
    </div>

    
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Предложенные блюда</h5>
          <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
            Отмена
          </button>
        </div>
        <div class="modal-body list-group" id="dishes_list">
        </div>
        <div class="modal-footer">
          <button id="btn_confirm_dishes" type="button" class="btn btn-light">Подтвердить</button>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}