{% load static %}

<head>
    <link type="text/css" href="{% static '/css/bootstrap.css' %}" rel="stylesheet"/>
    <link href="{% static '/css/list-groups.css' %}" rel="stylesheet"/>
</head>
<script>

    let current_all_food_list = []
    //let current_selected_food_list = []

    // создание div с названием еды и весом
    let createRowDiv = function(text)
    {  
        let rl = document.getElementById("rezult_list");
        let div_foodList = document.createElement('div');
        div_foodList.className = "FoodList";

        let div_name = document.createElement('div');
        div_name.innerHTML = `${text}`;
        div_name.className = "foodListItemName"
        let input_weight = document.createElement('input');
        input_weight.value = 100;
        input_weight.setAttribute("maxlength", "4");
        input_weight.setAttribute("required", "true");
        input_weight.setAttribute("type", "number");
        input_weight.className = "foodListItemInputWeight";
        input_weight.innerHTML = `${100}`;
        input_weight.addEventListener(
            'keyup', function(){
                this.value = this.value.replace(/[^\d]/g, '');
            }
        );
        div_foodList.append(div_name);
        div_foodList.append(input_weight);
        rl.append(div_foodList);
    } 

    // добавляет еду в список текущей еды
    let addToFoodList = function(name, visionname) {
        createRowDiv(name)
        current_all_food_list.push({'name':name,'visionname': visionname});
        console.log(`Выбраны: ${JSON.stringify(current_all_food_list)}`);
    }

    let deleteFromFoodList = function(name) {
        current_all_food_list = current_all_food_list.filter(obj => obj.name !== name);
        console.log(`Выбраны: ${JSON.stringify(current_all_food_list)}`);
    }
   

    // распознавание еды по фото
    document.addEventListener("DOMContentLoaded",
        function(){
            document.getElementById("handleForm").addEventListener("click", 
                function()
                {
                    // отправка данных на сервер
                    let formData  = new FormData( document.getElementById("form") );

                    for(let i = 0; i < document.getElementById("img").files.length; i++)
                    {
                        formData.append("img[]",document.getElementById("img").files[i]);
                    }

                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "{% url 'customvision' %}");
                    
                    // получение ответа от сервера
                    xhr.addEventListener("readystatechange", () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let response = JSON.parse(xhr.response);
                            console.log(`Результат распознавания: ${response.rezult}`);
                            if(response.rezult)
                            {
                                let all_fooditem_selectors = document.querySelectorAll(".fooditem_select");
                                let all_fooditem_selectors_objects = []
                                for (let i = 0; i < all_fooditem_selectors.length; i++) {
                                    let value = all_fooditem_selectors[i].parentNode.querySelector(".fooditem_name").innerHTML;
                                    all_fooditem_selectors_objects.push({"name":value, "obj":all_fooditem_selectors[i]});
                                }

                                for (let i = 0; i < response.rezult.length; ++i)
                                {
                                    let food_input_obj = all_fooditem_selectors_objects.find(obj => obj.name == response.names[i]);
                                    if(food_input_obj){
                                        food_input = food_input_obj.obj;
                                        if(!food_input.checked){
                                            addToFoodList(response.names[i], response.rezult[i])
                                            food_input.checked = true;
                                        }
                                    }
                                }
                            }
                        };
                    });
                    xhr.send(formData);
                }
            );
        }
    );

    // Добавляет еду из списка по клику на нее
    document.addEventListener("DOMContentLoaded", 
        function(){
            let elements = document.querySelectorAll(".fooditem_select");
            for (let i = 0; i < elements.length; i++) {
                elements[i].onchange = function(){
                    let name = this.parentNode.querySelector(".fooditem_name").innerHTML;
                    let visionname = this.parentNode.querySelector(".fooditem_model_name").innerHTML;
                    if(this.checked) {
                        addToFoodList(name, visionname);
                    }
                    else {
                        deleteFromFoodList(name);
                    }
                };
            }
        }
    );
    
    // Отправка данных для получения списка возможных блюд
    document.addEventListener("DOMContentLoaded", 
        function(){
            document.getElementById("btn_confirm").addEventListener("click", 
                function() {
                    const xhr = new XMLHttpRequest();
                    const url = "{% url 'foodanalize' %}";
                    let s_all_food_list = ""
                    for(let i = 0; i < current_all_food_list.length; ++i)
                    {
                        s_all_food_list += JSON.stringify(current_all_food_list[i]) + ";";
                    }
                    const params = `csrfmiddlewaretoken={{ csrf_token }}&data=${s_all_food_list}`;
                    xhr.open("POST", url, true);
                    xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");

                    // получение ответа от сервера
                    xhr.addEventListener("readystatechange", () => {
                        if (xhr.readyState === 4 && xhr.status === 200) {
                            let response = JSON.parse(xhr.response);
                            console.log(`Список предложеной еды ${response}`);
                        };
                    });                   

                    xhr.send(params);
                }
            );
        }
    );
</script>

<body>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
      <symbol id="list-check" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
      </symbol>
    </svg>

    <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="{% url 'index' %}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="{% static 'images/logo.jpg' %}" width="40" height="32"/>
        <span class="fs-4">SmartFood</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Главная</a></li>
        <li class="nav-item"><a href="{% url 'faq' %}" class="nav-link">FAQs</a></li>
      </ul>
    </header>
  </div>

    <p class="fs-5 fw-bolder text-center">Выберите продукты из списка или сфотографируйте их:</p>
   <div>
       <div class="list-group">
            {% for item in foodlist %}
                <div class="fooditem">
                  <label class="list-group-item d-flex gap-3">
                    <input class="fooditem_select form-check-input flex-shrink-0" type="checkbox" value="">
                    <span class="pt-1 form-checked-content">
                        <strong><div class="fooditem_name">{{ item.name }}</div></strong>
                        <div class="fooditem_model_name opacity-0">{{ item.visionname }}</div>
                        <img src="{{item.img.url}}" alt={{item.name}} width="64" height="64"></a>
                    </span>
                  </label>
                </div>
            {% endfor %}
        </div>
    </div>


   <!-- <label class="list-group-item d-flex gap-3 bg-light">
            <input class="form-check-input form-check-input-placeholder bg-light flex-shrink-0" disabled type="checkbox" value="" style="font-size: 1.375em;">
            <span class="pt-1 form-checked-content">
              <span contenteditable="true" class="w-100">Добавить свой продукт:</span>
            </span>
          </label> -->
    
    <form action="" method="post" enctype="multipart/form-data" id="form" class="dropzone" id="dropzone">
        {% csrf_token %}
        <input type="file" name="img" id="img" multiple />
        <div id="handleForm">Send</div>
    </form>


    <h5>Результат</h5>
    <div id="rezult_list">
    </div>

    <div id="btn_confirm">ПОДТВЕРДИТЬ</div>
</body>
