{% extends  'base.html' %}
{% load static %}

{% block header %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');


        data.addRows([
          ['Белки {{ count_values.nProteins }}г', {{ count_values.nProteins }}],
          ['Жиры {{ count_values.nFats }}г', {{ count_values.nFats }}],
          ['Углеводы {{ count_values.nCarbohydrates }}г', {{ count_values.nCarbohydrates }}],
        ]);

        var options = {'title':'',
                       'width':400,
                       'height':300};

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>

    <script>
      let foodlist = [];
      {% for data in information %}
      foodlist.push("{{data.weight}}")
      {% endfor %}
      console.log(foodlist);
  </script>
{% endblock %}



{% block body %}
  <div id="chart_div"></div>

  <a href="{% url 'index' %}">кнопка</a>

  {% for data in information %}
  <h5> {{data}} ({{data.date}})</h5>
  <p>
      {{data.weight}}г
      ({{data.food.calories }} ККал)
      (Углеводы {{ data.food.carbohydrates }}г)
      (Белки {{data.food.proteins}}г)
      (Жиры {{data.food.fats}}г)
  </p>
  <img src="{{data.food.img.url}}" alt={{data.food.name}} width="64" height="64">
  {% endfor %}
{% endblock %}