{% extends  'base.html' %}
{% load static %}

{% block header %}
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Topping');
        data.addColumn('number', 'Slices');


        data.addRows([
          ['Белки {{ count_values.nProteins }}г', {{ count_values.nProteins }}],
          ['Жиры {{ count_values.nFats }}г', {{ count_values.nFats }}],
          ['Углеводы {{ count_values.nCarbohydrates }}г', {{ count_values.nCarbohydrates }}],
        ]);

        var options = {
          'title':'',
                       'width':400,
                       'height':300,
                       backgroundColor: '#F0E9E7',
                      };

        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }

      window.addEventListener('resize', function(event) {
        drawChart();
      }, true);
    </script>

    <script>
      let foodlist = [];
      {% for data in information %}
      foodlist.push("{{data.weight}}")
      {% endfor %}
      console.log(foodlist);
  </script>
{% endblock %}



{% block body %}
  <div id="chart_div" class="container d-flex justify-content-center"></div>

  <div class="container d-flex p-2 bd-highlight flex-wrap justify-content-center col py-3 px-lg-5">
  {% for data in information %}


  <div class="fooditem infooditem card" style="width: 18rem;">
    <img class="card-img-top img" src="{{data.food.img.url}}" alt={{data.food.name}}>
    <div class="card-body">
      <h5 class="card-title">{{data.food.name}}</h5>
      <p class="card-text">
        <ul>
          <li>{{data.weight}}г.</li>
          <li>({{data.food.calories }} ККал)</li>
          <li>(Углеводы {{ data.food.carbohydrates }}г.)</li>
          <li>(Белки {{data.food.proteins}}г.)</li>
          <li>(Жиры {{data.food.fats}}г.)</li>
      </ul>
      </p>
      <a href="#" class="btn btn-secondary  btn-sm">Редактировать</a>
      <a href="#" class="btn btn-danger  btn-sm">Удалить</a>
    </div>
  </div>

  {% endfor %}
</div>
{% endblock %}